<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>

    </system.web>
  <Saas>
    <Frame>
      <add key="Areas" value="Admin" />
      <add key="CookieExpires" value="10" />
      <!--<add key="CurrentRedisExpires" value="10" />-->
      <add key="PageSize" value="5"/>
      <add key="PagerBarShowNum" value="5"/>
      <!--<add key="ErrorPage" value="/base/error"/>
      <add key="AuthErrorPage" value="/base/autherror"/>
      <add key="NoFilesAuthor" value="/base/GetAuthorByPageNames"/>-->
    </Frame>
  </Saas>
</configuration>
