@using Saas.Office.Auto.DataAccess
@model IEnumerable<TSysEnterprises>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>企业管理</h2>

@Html.Partial("_PartialIndex")