@using Webdiyer.WebControls.Mvc
@model PagedList<Saas.Office.Auto.Model.EnterpriseManagementViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Admin/Home/Index">平台企业</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>企业管理</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <div class="table-toolbar">
                    @*按钮区开始*@
                    <div class="col-md-5 col-sm-5">
                        <div class="">
                            <button class="btn btn-default" control-name="importexcel">
                                导出数据
                            </button>
                            <a id="addBtn" class="btn sbold green" href="/Admin/EnterpriseManagement/ShowPop" data-ajax-update="#modeldialog" data-ajax-success="AddAccountHandler"
                               data-ajax-mode="replace" data-ajax-method="Post" data-ajax="true">
                                添加
                                <i class="fa fa-plus"></i>
                            </a>
                            @*@Ajax.ActionLink("添加", "ShowPop", "EnterpriseManagement", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "modeldialog", OnSuccess = "AddAccountHandler" }
                                , new { @class = "btn sbold green", area = "Admin" })*@
                            <a id="delBtn" class="btn sbold red">
                                删除
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    @*按钮区结束*@
                    @*查询区开始*@
                    <div class="col-md-7">
                        <div class="pull-right">
                            @using (Ajax.BeginForm("Index", "EnterpriseManagement", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "Update" }, new { id = "Search", area = "Admin" }))
                            {
                                <label>
                                    企业名称：
                                    @Html.TextBox("EnterpriseName", "", new { @class = "form-control input-sm input-small input-inline", placeholder = "企业名称" })
                                </label>
                                <button type="submit" class="btn sbold green">查询</button>
                            }
                        </div>
                    </div>
                    @*查询区结束*@
                </div>
                <div id="Update">
                    @* 分布试图 *@
                    @Html.Partial("_PartialIndex", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade draggable-modal" id="draggable" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="modeldialog" class="modal-dialog" style="background-color:#fff">
        <div class="modal-content">
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        function CheckAllHandler() {
            var table = $("#MyTable");
            var set = $("#btnCheckAll").attr("data-set");
            var checked = $("#btnCheckAll").is(":checked");
            $(set).each(function () {
                if (checked) {
                    $(this).prop("checked", true);
                    $(this).parents('tr').addClass("active");
                } else {
                    $(this).prop("checked", false);
                    $(this).parents('tr').removeClass("active");
                }
            });
        }
        function AddAccountHandler() {
            //成功后弹出模态框
            //$('#draggable').modal({
            //    keyboard: true
            //});
            $('#draggable').modal('show')
        }
    </script>
}