@using Saas.Office.Auto.Model
@model EnterpriseManagementViewModel
<div class="modal-header">
    <h4 class="modal-title">企业管理</h4>
</div>
@using (Ajax.BeginForm("Add", "EnterpriseManagement", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "PartialAdd", InsertionMode = InsertionMode.Replace, OnComplete = "onCompleteHandler" }, new { @class = "register-form", style = "display:block",area="Admin" }))
{
    <div class="modal-body" id="PartialAdd">
        @Html.Partial("_PartialAdd", Model)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn green">保存</button>
    </div>
}

<script type="text/javascript">
    function onCompleteHandler(result) {
        var include = result.responseText.indexOf("alert  alert-danger");//因为要保留报错信息，所以在通过后刷新页面
        if (include > 0) {
            //alert(include);
        } else {
            window.location.reload();//刷新当前页面.

        }
    }
</script>
